extends ../head

block content-detail
  div.container
    div.row
      div.span12
        ul.breadcrumb
          li
            a(href="/") 首页
            span.divider /
            li.active 日记列表
        div.row
          div.span10
            div.row
            - if (diarys.length)
            - diarys.forEach(function(diary){
              div.post
                h3.entry-title
                  a(rel="bookmark",title='链向 #{diary.title} 的固定链接',href="http://localhost/wordpress/?p=4")  #{diary.title}
                div.entry-meta
                  span.author.vcard
                    a.url.fn.n(title="查看所有由 admin 发布的文章",href="http://localhost/wordpress/?author=1")  #{diary.author} 于
                  a(href="bookmark",title="下午 1:11",href="http://localhost/wordpress/?p=4")
                    span.entry-date #{diary.create_date} 
                    说到
                  div.entry-content
                  - if(diary.up_img){
                    div.thumbs_block100
                      a(href='#{diary.up_img}')
                        img.entry-img(src='#{diary.up_img}')
                  - } 
                  !{diary.content}
                div.entry-utility.pull-right
                  span.comments-link
                    a(title='《#{diary.title}》上的评论",href="http://localhost/wordpress/?p=4#respond") 0回应
                  span.meta-sep |
                  span.edit-link
                    a.post-edit-link(title="编辑文章",href="http://localhost/wordpress/wp-admin/post.php?post=4&amp;action=edit") 编辑
            div.ul
            - })
            div.pagination
              ul
                li
                  a(href="#") Prev
                li.active
                  a(href="#") 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") 4
                li
                  a(href="#") Next
          div.span2.show-grid
            div.pull-right
              button.btn-large.btn-primary(type='button',onclick='add_diary()') 写一篇吧
    hr
    footer
      p &copy; Company 2012
          

                

    
