extends ../head

block content-detail
  script(charset="utf-8",src="/kindeditor/kindeditor-min.js")
  script(charset="utf-8",src="/kindeditor/lang/zh_CN.js")
  div.container
    div.row.show-grid
      div.span12
        ul.breadcrumb
          li
            a(href="/") 首页
            span.divider /
          li.active 浏览日记
    div.row.show-grid
      div.span8
        div.panel
          div.diary-title !{diary.title}
            span.diary-subtitle 来自：&nbsp;
              a(href='javascript:void(0)') #{diary.author}
              &nbsp;&nbsp;
              span.entry-date #{diary.create_date}
          div.content                  
           - if(diary.up_img_thumb){
               div.thumbs_block250
                 a(href='#{diary.up_img}')
                   img.entry-img(src='#{diary.up_img}')
           - }
             !{diary.content}
          div.diary-tail
            div
              div.jiathis_style
                span.jiathis_txt 分享到：
                a.jiathis_button_icons_1 
                a.jiathis_button_icons_2 
                a.jiathis_button_icons_3 
                a.jiathis_button_icons_4 
                a.jiathis.jiathis_txt.jtico.jtico_jiathis(href='http://www.jiathis.com/share',target='_blank') 
                a.jiathis_counter_style
              script(type="text/javascript",src="http://v3.jiathis.com/code_mini/jia.js?uid=1334623036661201",charset="utf-8")
            div.pull-right
              a(href="javascript:void(0)")
                span.badge.badge-warning
                  &nbsp;喜 欢&nbsp;
        div.panel
          div.comment 评论 !{comments.length}
            - if (comments.length)
              div.comment-list
                - comments.forEach(function(comment){
                  div.comment-item.row
                    div.comment-left.span1.thumbs_block48
                      a(href="javascript:void(0)")
                        img(src='/images/avatar/default.jpg')
                    div.comment-right.span6
                      div.comment-header 
                        &nbsp;在 !{comment.comment_date} &nbsp;&nbsp;
                        a(href='javascript:void(0)') !{comment.commenter}
                        span.comment-floor
                          !{comment.floor}
                      div.comment-cont !{comment.content}
                - })
          div.alert.alert-error#alert-error(style='display:none')
          form(method="POST",action="",onsubmit='return doCommentSubmit("/comment/add");')
            fieldset
              input(type="hidden",name="action",value="comment")
              input(type="hidden",id="commenter",name="commenter",value="vagasnail")
              input#diary_id(type="hidden",name="diary_id",value='#{diary._id}')
              div.control-group
                div.controls
                  textarea.input-xlarge(id="comment",name="comment",placeholder="发表你的评论",style="width:98%;height:80px;")
                button.btn.btn-success(type="submit") 发表评论
                span.small.help-inline 字数控制在#{diary_config.comment_size[0]}到#{diary_config.comment_size[1]}个之间

      div.span4
        div.panel
          div.header 作者 
        div.panel
          div.header 作者其它日志 
        div.panel
          div.header 作者感兴趣的日志 
    hr
    footer
      p &copy; Company 2012
          

                

    
