<table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>标题</th>
                  <th>作者</th>
                  <th>发表日期</th>
                  <th>可见性</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              <% diarys.forEach(function(diary){ %>
                <tr>
                  <td><%= diary.title%></td>
                  <td><%= diary.author%></td>
                  <td><%= diary.create_date%></td>
                  <td><%= diary.type%></td>
                  <td><a href="javascript:void(0)" onclick="del_diary('/diary/<%= diary._id %>/del',this,1)"><i class="icon-remove"></i></a></td>
                </tr>
                <%});%>
              </tbody>
</table>