<table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>邮箱</th>
                  <th>昵称</th>
                  <th>注册日期</th>
                  <th>积分</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              <% users.forEach(function(user){ %>
                <tr>
                  <td><%= user.email%></td>
                  <td><%= user.nickname%></td>
                  <td><%= user.reg_date%></td>
                  <td><%= user.score%></td>
                  <td><a href="javascript:void(0)" onclick="del_user('/user/<%= user._id %>/del',this)"><i class="icon-remove"></i></a></td>
                </tr>
                <%});%>
              </tbody>
</table>