<ul class="emo-list" id="emotions_3_emoList0">
<li title="谄笑"><img src="<%=config.icon_img_url %>2.gif?ver=1" alt="谄笑" emotion="(谄笑)" preview="0" forvip="0">
</li>
<li title="吃饭"><img src="<%=config.icon_img_url %>3.gif?ver=1" alt="吃饭" emotion="(吃饭)" preview="0" forvip="0">
</li>
<li title="调皮"><img src="<%=config.icon_img_url %>4.gif?ver=1" alt="调皮" emotion="(调皮)" preview="0" forvip="0">
</li>
<li title="尴尬"><img src="<%=config.icon_img_url %>5.gif?ver=1" alt="尴尬" emotion="(尴尬)" preview="0" forvip="0">
</li>
<li title="汗"><img src="<%=config.icon_img_url %>6.gif?ver=1" alt="汗" emotion="(汗)" preview="0" forvip="0">
</li>
<li title="惊恐"><img src="<%=config.icon_img_url %>7.gif?ver=1" alt="惊恐" emotion="(惊恐)" preview="0" forvip="0">
</li>
<li title="囧-窘迫"><img src="<%=config.icon_img_url %>8.gif?ver=1" alt="囧-窘迫" emotion="(囧)" preview="0" forvip="0">
</li>
<li title="可爱"><img src="<%=config.icon_img_url %>9.gif?ver=1" alt="可爱" emotion="(可爱)" preview="0" forvip="0">
</li>
<li title="酷"><img src="<%=config.icon_img_url %>10.gif?ver=1" alt="酷" emotion="(酷)" preview="0" forvip="0">
</li>
<li title="流口水"><img src="<%=config.icon_img_url %>11.gif?ver=1" alt="流口水" emotion="(流口水)" preview="0" forvip="0">
</li>
<li title="生病"><img src="<%=config.icon_img_url %>14.gif" alt="生病" emotion="(生病)" preview="0" forvip="0">
</li>
<li title="叹气"><img src="<%=config.icon_img_url %>15.gif" alt="叹气" emotion="(叹气)" preview="0" forvip="0">
</li>
<li title="淘气"><img src="<%=config.icon_img_url %>16.gif" alt="淘气" emotion="(淘气)" preview="0" forvip="0">
</li>
<li title="舔"><img src="<%=config.icon_img_url %>17.gif" alt="舔" emotion="(舔)" preview="0" forvip="0">
</li>
<li title="偷笑"><img src="<%=config.icon_img_url %>18.gif" alt="偷笑" emotion="(偷笑)" preview="0" forvip="0">
</li>
<li title="呕吐"><img src="<%=config.icon_img_url %>19.gif?ver=1" alt="呕吐" emotion="(吐)" preview="0" forvip="0">
</li>
<li title="吻"><img src="<%=config.icon_img_url %>20.gif" alt="吻" emotion="(吻)" preview="0" forvip="0">
</li>
<li title="晕"><img src="<%=config.icon_img_url %>21.gif?ver=1" alt="晕" emotion="(晕)" preview="0" forvip="0">
</li>
<li title="住嘴"><img src="<%=config.icon_img_url %>23.gif" alt="住嘴" emotion="(住嘴)" preview="0" forvip="0">
</li>
<li title="大笑"><img src="<%=config.icon_img_url %>16.gif?ver=1" alt="大笑" emotion="(大笑)" preview="0" forvip="0">
</li>
<li title="害羞"><img src="<%=config.icon_img_url %>shy.gif" alt="害羞" emotion="(害羞)" preview="0" forvip="0">
</li>
<li title="防流感"><img src="<%=config.icon_img_url %>17.gif" alt="防流感" emotion="(口罩)" preview="0" forvip="0">
</li>
<li title="哭"><img src="<%=config.icon_img_url %>cry.gif" alt="哭" emotion="(哭)" preview="0" forvip="0">
</li>
<li title="困"><img src="<%=config.icon_img_url %>sleepy.gif" alt="困" emotion="(困)" preview="0" forvip="0">
</li>
<li title="难过"><img src="<%=config.icon_img_url %>sad.gif" alt="难过" emotion="(难过)" preview="0" forvip="0">
</li>
<li title="生气"><img src="<%=config.icon_img_url %>5.gif?ver=1" alt="生气" emotion="(生气)" preview="0" forvip="0">
</li>
<li title="书呆子"><img src="<%=config.icon_img_url %>13.gif?ver=1" alt="书呆子" emotion="(书呆子)" preview="0" forvip="0">
</li>
<li title="微笑"><img src="<%=config.icon_img_url %>1.gif?ver=1" alt="微笑" emotion="(微笑)" preview="0" forvip="0">
</li>
<li title="不"><img src="<%=config.icon_img_url %>1.gif" alt="不" emotion="(不)" preview="0" forvip="0">
</li>
<li title="惊讶"><img src="<%=config.icon_img_url %>surprise.gif" alt="惊讶" emotion="(惊讶)" preview="0" forvip="0">
</li>
<li title="抠鼻"><img src="<%=config.icon_img_url %>kbz2.gif" alt="抠鼻" emotion="(kb)" preview="0" forvip="0">
</li>
<li title="烧香"><img src="<%=config.icon_img_url %>shaoxiang.gif" alt="烧香" emotion="(sx)" preview="0" forvip="0">
</li>
</ul>